
  <app-gallery></app-gallery>
  <br />
  <link rel="stylesheet" href="//affil.walmart.com/buttons/styles/buynow.min.css" type="text/css"/>
  <div class="wm_bnow">
    <a target="_blank" class="btn btn-compact btn-primary" id="buybutton" href="<Click URL>"><img src="//affil.walmart.com/buttons/assets/images/spark.png"/> Buy Now</a>
  </div>
  <img src="beacon.walmart.com/vm/ttap.gif?affpublisherid=<Publisher ID>&affsdkaction=buynow_button_impression&affsdktrack=<Unique Tracking ID>&veh=aff&affs=sdk&affsdktype=html&affsdkcomp=buynowbutton&colorscheme=orange&sizescheme=compact" style="display:none;width:0px;height:0px;"/>
<div>
  <app-table></app-table>
</div>
