table {
    width: 100%;
}

button {
    margin-right: 10px;
}

th {
    font-size: 100%;
}

/* .buyer-table {
    margin-left: 50%;
	margin-right: 50%;
} */

.contentContainer {
    text-align: center;
    margin-right: 15%;
}

.buttonContainer {
    text-align: right;
}