<h1 mat-dialog-title>Log in:</h1>

<div mat-dialog-content>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Max 50 Characters</mat-hint>
      </mat-form-field>
  <br />
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Case sensitive. No spaces</mat-hint>
      </mat-form-field>
  <br />
  <button mat-raised-button>Register</button>
  <button mat-raised-button color="primary">Log In</button>
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
</div>
