.chart-left {
  position: relative;
  float: left;
  width: 45%;
  /*height: 20px;*/
  margin-right: 8px;
}
.doughnut-right {
  position: relative;
  width: 45%;
  margin-left: 45%;
}

.table-bottom {
  width: 45%;
  clear: both;
  bottom: 0;
}
