<ng-container>
  <app-chart></app-chart>
  <app-table></app-table>
</ng-container>

<div class="card-body">
  <input [(ngModel)]="addProductData.name" size = 20 placeholder="Name"/>
  <input [(ngModel)]="addProductData.quantity" size = 3 placeholder="Quantity"/>
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <button mat-raised-button color="primary"  (click)="addProduct()">Add Item</button>
  </form>
</div>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>



