<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
      </tr>
      </thead>
      <tfoot>
      <tr>

        <th>ID</th>
        <th>
          <label>
            <input [(ngModel)]="addProductData.name" placeholder="Name"/>
          </label>
        </th>
        <th>
          <label>
            <input [(ngModel)]="addProductData.quantity" placeholder="Quantity"/>
          </label>
        </th>
      </tr>
      </tfoot>
      <tbody>
      <tr *ngFor="let p of products; let i=index;">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.quantity}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div>
  <button mat-raised-button color="primary"  (click)="addProduct()">Add Item</button>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>



